Makefile
Makefile.in
aclocal.m4
autom4te.cache
config.log
config.sub
config.status
config.guess
install-sh
configure
missing
depcomp
.objs
*.o
debug.log
.deps
.dirstamp
*.dll
mandelbulb
mandelbulb.exe
mandelbulb.layout
mandelbulb.depend
*.mdb
*.ppm
